RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_TO_EMAIL=paul.ochieng.dev@gmail.com
CONTACT_FROM_EMAIL="Paul Ochieng Levi <contact@info.ochiengpaul.com>"
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_TURNSTILE_SITE_KEY="paste-your-site-key-here"
TURNSTILE_SECRET_KEY="paste-your-secret-key-here"
TURNSTILE_ALLOWED_HOSTNAMES="paste-domains-here"